.about {
    background: #F8FBFC;

    // &__content {
    // }
        &__image {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    
    &__steps {
        display: grid;
    }
        &__item {
            background-color: white;
            border-radius: 30px;

            &-title {
                display: flex;
                align-items: center;
                margin-bottom: 25px;

                &-image {
                    margin-right: 20px;
                }
                // &-text {
                // }
            } 
            // &-text {
            // }
        }

    &__buttons {
        display: flex;
        margin-top: 60px;
    }
        // &__button {   
        // }
}

@media screen and #{$is_mobile} {
    .about {
        // &__content { 
        // }
            &__text {
                display: grid;
                grid-gap: 30px;
            }
            &__image {
                aspect-ratio: 3 / 1;
            }
        
        &__steps-title {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &__steps {
            grid-gap: 20px;
        }
            &__item {
                padding: 20px;

                &-title {
                    // &-image {
                    // }
                    &-text {
                        font-size: 16px;
                    }
                }
                // &-text {
                // }
            }

        &__buttons {
            flex-direction: column;
            align-items: center;
        }
            &__button {
                &:first-child {
                    margin-bottom: 20px;
                }
            }
    }
}

@media screen and #{$is_desktop} {
    .about {
        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 60px;
        }
            &__text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &__image {
                aspect-ratio: 1 / 1;
            }

        &__steps-title {
            margin-top: 55px;
            margin-bottom: 40px;
        }

        &__steps {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 40px;
        }
            &__item {
                padding: 25px;

                &-title {
                    // &-image {
                    // }
                    &-text {
                        font-size: 22px;
                    }
                }  
                // &-text {
                // }
        }

        &__buttons {
            justify-content: space-evenly;
        }
            // &__button {  
            // }
    }
}