.about {
    &__image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    &__buttons {
        display: flex;
        max-width: 1400px;
        margin: 0 auto;
    }
}

@media screen and #{$is_mobile} {
    .about {
        
        &__text {
            display: grid;
            grid-gap: 30px;
        }
        &__image {
            aspect-ratio: 3 / 1;
        }
    
        &__buttons {
            flex-direction: column;
            align-items: center;
            padding: 0 16px 40px;
        }
            &__button {
                &:first-child {
                    margin-bottom: 20px;
                }
            }
    }
}

@media screen and #{$is_desktop} {
    .about {
        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 60px;
        }
            &__text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &__image {
                aspect-ratio: 1 / 1;
            }

        &__buttons {
            justify-content: space-evenly;
            padding: 0 120px 60px;
        }
    }
}