.bestsellers {
    background: linear-gradient(180deg, #6688AE 0%,#F8FBFC 100%);
}

@media screen and #{$is_mobile} {
    .bestsellers {

        .products__item {
            border-radius: 10px;
            aspect-ratio: 150 / 100;
        }
    }
}

@media screen and #{$is_desktop} {
    .bestsellers {
        
        .products__content {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .products__item {

            &:nth-child(1) {
                aspect-ratio: unset;
                grid-column: auto / span 2;
            }
            &:nth-child(6) {
                aspect-ratio: unset;
                grid-column: auto / span 2;
            }
        }
    }
}