.footer {
    background: url('/assets/img/footer_background.png'), linear-gradient(90.88deg, #DEDEDE 0.07%, #6688AE 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__menu {
        display: flex;
        color: white;
    }
        &__pages {
            width: 50%;
            display: flex;
            flex-direction: column;

            // &-item {
            // }
        }
        &__services {
            
            &-indicator {
                display: none;
            }
            // &-item {
            // }
            &-title {
                display: block;
            }
            &-list {
                display: flex;
                flex-direction: column;
            }
        }
}

@media screen and #{$is_mobile} {
    .footer {

        // &__menu {
        // }
            &__pages {
                width: 50%;
                font-size: 16px;

                &-item {
                    margin-bottom: 15px;
                }
            }
            &__services {
                width: 50%;

                // &-item {
                // }

                &-title {
                    font-size: 16px;
                    margin-bottom: 6px;
                    position: relative;

                    &::after {
                        content: "+";
                        position: absolute;
                        right: 16px;
                    }
                }
                &-indicator:checked + &-title::after {
                    content: "-";
                }

                &-list {
                    font-size: 12px;
                    margin-bottom: 9px;
                    max-height: 0px;
                    overflow: hidden;
                    transition: max-height 1s;
                }
                &-indicator:checked ~ &-list {
                    max-height: 300px;
                }
            }

        &__info {
            display: flex;
            align-items: flex-end;
        }
            &__logo {
                width: 50%;

                &-img {
                    height: 107px;
                }
            }
            &__contact {
                width: 50%;
                font-size: 16px;
                color: white;
                line-height: 21px;
            }
    }
}

@media screen and #{$is_desktop} {
    .footer {

        .container {
            display: flex;
        }

        &__menu {
            order: 1;
            width: 70%;
        }
            &__pages {
                font-size: 20px;
                width: 40%;

                // &-item { 
                // }
            }
            &__services {
                display: flex;
                width: 60%;

                &-item {
                    width: 50%;

                }
                &-title {
                    font-size: 20px;
                }
                &-list {
                    font-size: 16px;
                }
            }

        &__info {
            order: 0;
            width: 30%;
        }
            &__logo {
                &-img {
                    height: 172px;
                }
            }
            &__contact {
                font-size: 22px;
                margin-top: 60px;
                line-height: 29px;
            }
    }
}
