.footer {
    background: url('/assets/img/footer_background.webp'), linear-gradient(90.88deg, #DEDEDE 0.07%, #6688AE 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

    &__menu {
        font-weight: bold;
    }
        &__column {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
            &__item {
                margin-bottom: 10px;
            }
}

@media screen and #{$is_mobile} {
    .footer {

        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &__logo {

            &-img {
                height: 130px;
            }
        }

        &__menu {
            order: -1;
            grid-column: auto / span 2;
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 50px;
            font-size: 16px;
        }
  

        &__contact {
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
        }
    }
}

@media screen and #{$is_desktop} {
    .footer {

        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1.3fr 1fr;
        }
    
        &__logo {

            &-img {
                height: 170px;
            }
        }
    
        &__menu {
            display: flex;
            font-size: 20px;
        }
  
    
        &__contact {
            margin-left: auto;
            margin-right: 0;
            font-size: 22px;
        }
    }
}
