.message {
    &__content {
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        max-width: 600px;
        
        p {
            width: 100%;
        }

        input:not([type="submit"]) {
            width: 100%;
            border: 1px solid #BEBEBE;
            border-radius: 7px;
            padding: 10px 13px;
        }
        button {
            margin-bottom: 10px;
        }
    }
}

@media screen and #{$is_mobile} {
    .message {
        &__content {
            
        }
    
        &__form {

            p {
                margin-bottom: 20px;
            }

            input {
                margin-bottom: 16px;
            }
        }
    }
    
}

@media screen and #{$is_desktop} {
    .message {
        &__content {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
        }
    
        &__form {

            p {
                margin-bottom: 30px;
            }

            input {
                margin-bottom: 20px;
            }
        }

        &__logo {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            img {
                width: 50%;
            }
        }
    }
    
}
