.populars {
    &__content {
        display: grid;
    }
    &__buttom {
        margin: 60px auto 0;
    }
}

@media screen and #{$is_mobile} {
    .populars {
        &__content {
            grid-template-columns: 1fr 1fr;
            grid-gap: 9px;
        }
    }
}

@media screen and #{$is_desktop} {
    .populars {

        &__content {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 40px;
        }
    }
}