.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 16px;
}
@media screen and #{$is_desktop} {
    .container {
        padding: 60px 120px;
    }
}


.breadcrumbs {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 16px 0;
}
@media screen and #{$is_desktop} {
    .breadcrumbs {
        padding: 20px 120px 0;
    }
}


.block-title {
    margin-bottom: 30px;
}
@media screen and #{$is_desktop} {
    .block-title {
        margin-bottom: 60px;
    }
}


a.link-text, .link-text a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

a.link-text-hover, .link-text-hover a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
a.link-text-hover:hover, .link-text-hover a:hover {
    text-decoration: underline;
}


.hover-shadow,
.hover-shadow-wrapper > * {
    transition: all .2s;
}
.hover-shadow:hover,
.hover-shadow-wrapper > *:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}


.base-background {
    background: #F8FBFC;
}


.message_text {
    color: green;
    text-align: center;
}