$screen_point: 1000;
$is_mobile: "(max-width: #{$screen_point}px)";
$is_desktop: "(min-width: #{$screen_point+1}px)";

@media screen and #{$is_mobile} {
    .show_mob {
        display: block;
    }
    .show_desk {
        display: none !important;
    }
}
@media screen and #{$is_desktop} {
    .show_mob {
        display: none !important;
    }
    .show_desk {
        display: block;
    }
}
.none {
    display: none !important;
}


$dark_grey: #686868;
$dark_blue: #5D7C9F;
$dark_white: #F8FBFC;
$light_grey: rgba(95, 95, 95, 0.5);
$light_blue: #6688AE;
$light_white: linear-gradient(180deg, #F8FBFC 0%, #FFFFFF 100%);


$h1_text_outline_size: 1px;
$h1_text_outline_color: #686868;


:root {
    --h1-font-size: 30px;
    --h1-line-height: 37px;
    --h2-font-size: 22px;
    --h2-line-height: 27px;
    --text-font-size: 14px;
    --text-line-height: 18px;
    --button-font-size: 16px;
}

@media screen and #{$is_desktop} {
    :root {
        --h1-font-size: 48px;
        --h1-line-height: 59px;
        --h2-font-size: 29px;
        --h2-line-height: 35px;
        --text-font-size: 18px;
        --text-line-height: 25px;
        --button-font-size: 16px;
    }
}


body {
    font-family: 'Futura PT', Tahoma, 'MS Sans Serif', Arial, Helvetica, sans-serif;
    font-size: var(--text-font-size);
    line-height: var(--text-line-height);
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, .h1, .h2 {
    font-family: 'Montserrat', Tahoma, 'MS Sans Serif', Arial, Helvetica, sans-serif;
}

.font-futura {
    font-family: 'Futura PT', Tahoma, 'MS Sans Serif', Arial, Helvetica, sans-serif;
}

.h1 { 
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: white;
    text-shadow: 0 1px $h1_text_outline_size $h1_text_outline_color, 
                 1px 0 $h1_text_outline_size $h1_text_outline_color,
                 0 -1px $h1_text_outline_size $h1_text_outline_color,
                 -1px 0 $h1_text_outline_size $h1_text_outline_color,
                 1px 1px $h1_text_outline_size $h1_text_outline_color,
                 1px -1px $h1_text_outline_size $h1_text_outline_color,
                 -1px 1px $h1_text_outline_size $h1_text_outline_color,
                 -1px -1px $h1_text_outline_size $h1_text_outline_color;
}

@media screen and #{$is_desktop} {
    h1.large {
        text-shadow: 0 1px 2px $h1_text_outline_color, 
                     1px 0 2px $h1_text_outline_color,
                     0 -1px 2px $h1_text_outline_color,
                     -1px 0 2px $h1_text_outline_color,
                     1px 1px 2px $h1_text_outline_color,
                     1px -1px 2px $h1_text_outline_color,
                     -1px 1px 2px $h1_text_outline_color,
                     -1px -1px 2px $h1_text_outline_color,
                     0px 4px 10px rgba(0, 0, 0, 0.2);
    }
}

.h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    font-weight: bold;
    color: $dark_blue;
}

