@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Bold.eot");
  src: local("Futura PT Bold"), local("FuturaPT-Bold"), url("../fonts/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Heavy.eot");
  src: local("Futura PT Heavy"), local("FuturaPT-Heavy"), url("../fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Heavy.woff2") format("woff2"), url("../fonts/FuturaPT-Heavy.woff") format("woff"), url("../fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Medium.eot");
  src: local("Futura PT Medium"), local("FuturaPT-Medium"), url("../fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Light.eot");
  src: local("Futura PT Light"), local("FuturaPT-Light"), url("../fonts/FuturaPT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Light.woff2") format("woff2"), url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-BoldObl.eot");
  src: local("Futura PT Bold Oblique"), local("FuturaPT-BoldObl"), url("../fonts/FuturaPT-BoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-BoldObl.woff2") format("woff2"), url("../fonts/FuturaPT-BoldObl.woff") format("woff"), url("../fonts/FuturaPT-BoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-HeavyObl.eot");
  src: local("Futura PT Heavy Oblique"), local("FuturaPT-HeavyObl"), url("../fonts/FuturaPT-HeavyObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-HeavyObl.woff2") format("woff2"), url("../fonts/FuturaPT-HeavyObl.woff") format("woff"), url("../fonts/FuturaPT-HeavyObl.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-MediumObl.eot");
  src: local("Futura PT Medium Oblique"), local("FuturaPT-MediumObl"), url("../fonts/FuturaPT-MediumObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-MediumObl.woff2") format("woff2"), url("../fonts/FuturaPT-MediumObl.woff") format("woff"), url("../fonts/FuturaPT-MediumObl.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-LightObl.eot");
  src: local("Futura PT Light Oblique"), local("FuturaPT-LightObl"), url("../fonts/FuturaPT-LightObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-LightObl.woff2") format("woff2"), url("../fonts/FuturaPT-LightObl.woff") format("woff"), url("../fonts/FuturaPT-LightObl.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p,
figure,
figcaption,
blockquote,
dl, dt, dd,
ul, ol, li {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

[role="list"] a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 0;
}

body {
  min-height: 100vh;
  min-width: 300px;
  line-height: 1.5;
}

img, button {
  display: block;
  max-width: 100%;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media screen and (max-width: 1000px) {
  .show_mob {
    display: block;
  }
  .show_desk {
    display: none !important;
  }
}

@media screen and (min-width: 1001px) {
  .show_mob {
    display: none !important;
  }
  .show_desk {
    display: block;
  }
}

.none {
  display: none !important;
}

:root {
  --h1-font-size: 30px;
  --h1-line-height: 37px;
  --h2-font-size: 22px;
  --h2-line-height: 27px;
  --text-font-size: 14px;
  --text-line-height: 18px;
  --button-font-size: 16px;
}

@media screen and (min-width: 1001px) {
  :root {
    --h1-font-size: 48px;
    --h1-line-height: 59px;
    --h2-font-size: 29px;
    --h2-line-height: 35px;
    --text-font-size: 18px;
    --text-line-height: 25px;
    --button-font-size: 16px;
  }
}

body {
  font-family: 'Futura PT', Tahoma, 'MS Sans Serif', Arial, Helvetica, sans-serif;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, .h1, .h2 {
  font-family: 'Montserrat', Tahoma, 'MS Sans Serif', Arial, Helvetica, sans-serif;
}

.font-futura {
  font-family: 'Futura PT', Tahoma, 'MS Sans Serif', Arial, Helvetica, sans-serif;
}

.h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: white;
  text-shadow: 0 1px 1px #686868, 1px 0 1px #686868, 0 -1px 1px #686868, -1px 0 1px #686868, 1px 1px 1px #686868, 1px -1px 1px #686868, -1px 1px 1px #686868, -1px -1px 1px #686868;
}

@media screen and (min-width: 1001px) {
  h1.large {
    text-shadow: 0 1px 2px #686868, 1px 0 2px #686868, 0 -1px 2px #686868, -1px 0 2px #686868, 1px 1px 2px #686868, 1px -1px 2px #686868, -1px 1px 2px #686868, -1px -1px 2px #686868, 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
}

.h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: bold;
  color: #5D7C9F;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 16px;
}

@media screen and (min-width: 1001px) {
  .container {
    padding: 60px 120px;
  }
}

.breadcrumbs {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 16px 0;
}

@media screen and (min-width: 1001px) {
  .breadcrumbs {
    padding: 20px 120px 0;
  }
}

.block-title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1001px) {
  .block-title {
    margin-bottom: 60px;
  }
}

a.link-text, .link-text a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

a.link-text-hover, .link-text-hover a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

a.link-text-hover:hover, .link-text-hover a:hover {
  text-decoration: underline;
}

.hover-shadow,
.hover-shadow-wrapper > * {
  -webkit-transition: all .2s;
  transition: all .2s;
}

.hover-shadow:hover,
.hover-shadow-wrapper > *:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.base-background {
  background: #F8FBFC;
}

.message_text {
  color: green;
  text-align: center;
}

.btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 13px 35px;
  border-radius: 100vh;
  cursor: pointer;
  font-size: var(--button-font-size);
  text-transform: uppercase;
  text-decoration: none;
}

.btn-outline {
  background-color: inherit;
  border: 2px solid #7E7E7E;
  color: #5F5F5F;
}

.btn-outline:hover {
  border: 2px solid #424242;
}

.btn-fill {
  background-color: #6688AE;
  border: 0;
  color: white;
}

.btn-fill:hover {
  background: #7EA8D8;
}

.btn:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.menu_burger__icon {
  display: block;
  width: 30px;
  height: 22px;
  cursor: pointer;
}

.menu_burger__icon div {
  position: relative;
  top: 0;
  height: 4.4px;
  background-color: #6688AE;
  margin-bottom: 4.4px;
  -webkit-transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
}

.menu_burger__icon div:first-child {
  -webkit-transform-origin: 0;
          transform-origin: 0;
}

.menu_burger__icon div:nth-child(2) {
  right: 0;
}

.menu_burger__icon div:last-child {
  margin-bottom: 0;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

.menu_burger__list {
  display: none;
}

#menu_burger__status {
  display: none;
}

#menu_burger__status:checked + .menu_burger__content .menu_burger__icon {
  width: 22px;
}

#menu_burger__status:checked + .menu_burger__content .menu_burger__icon div:first-child {
  top: -2.2px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

#menu_burger__status:checked + .menu_burger__content .menu_burger__icon div:nth-child(2) {
  width: 31.152px;
  top: 0;
  right: 4.76675px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

#menu_burger__status:checked + .menu_burger__content .menu_burger__icon div:last-child {
  top: 2.2px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

#menu_burger__status:checked + .menu_burger__content .menu_burger__list {
  display: block;
}

.popup {
  background-color: rgba(102, 136, 174, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__content {
  background-color: white;
  width: 100%;
  position: relative;
  border-radius: 20px;
}

.popup__close {
  position: absolute;
  border: 0;
  background-color: inherit;
  cursor: pointer;
}

.popup__form {
  display: -ms-grid;
  display: grid;
}

.popup__form input {
  width: 100%;
  border: 1px solid #BEBEBE;
  border-radius: 7px;
  padding: 10px 14px;
}

.popup__form button {
  margin: 0 auto;
}

body.popup__open {
  height: 100vh;
  overflow: hidden;
}

.popup {
  display: none;
}

.popup.popup__open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .popup__content {
    padding: 40px 50px;
    max-width: 340px;
  }
  .popup__close {
    top: 15px;
    right: 15px;
  }
  .popup__form {
    row-gap: 10px;
  }
}

@media screen and (min-width: 1001px) {
  .popup__content {
    padding: 60px 100px;
    max-width: 560px;
  }
  .popup__close {
    top: 20px;
    right: 20px;
  }
  .popup__form {
    row-gap: 30px;
  }
}

.nav__content {
  -webkit-box-shadow: 0px 6px 10px rgba(57, 114, 135, 0.08);
          box-shadow: 0px 6px 10px rgba(57, 114, 135, 0.08);
}

@media screen and (max-width: 1000px) {
  .nav {
    height: 78px;
  }
  .nav__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -webkit-gradient(linear, left top, left bottom, from(#F8FBFC), to(#FFFFFF));
    background: linear-gradient(180deg, #F8FBFC 0%, #FFFFFF 100%);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 78px;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
  }
  .nav__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 16px;
    min-width: 54px;
  }
  .nav__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    font-size: 18px;
    line-height: 120%;
    text-decoration: none;
  }
  .nav .menu_burger__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .menu_burger__icon {
    margin-right: 16px;
  }
  .nav .menu_burger__list {
    color: #686868;
    font-size: 20px;
    background-color: white;
  }
  .nav .menu_burger__list li {
    padding: 22px 40px;
    border-bottom: 1px solid #EAF3F5;
  }
  .nav #menu_burger__status:checked ~ .nav__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .nav #menu_burger__status:checked + .menu_burger__content {
    position: absolute;
    top: 0;
    right: 0;
  }
  .nav #menu_burger__status:checked + .menu_burger__content .menu_burger__icon {
    margin-top: 28px;
  }
}

@media screen and (max-width: 440px) {
  #menu_burger__status:checked ~ .nav__title {
    display: none;
  }
}

@media screen and (min-width: 1001px) {
  .nav {
    background: -webkit-gradient(linear, left top, left bottom, from(#F8FBFC), to(#FFFFFF));
    background: linear-gradient(180deg, #F8FBFC 0%, #FFFFFF 100%);
  }
  .nav__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    line-height: 130%;
  }
  .nav__partner {
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #747474;
  }
  .nav__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__address img {
    width: 22px;
    margin-right: 12px;
  }
  .nav__contact a {
    display: block;
    color: black;
    text-decoration: none;
  }
  .nav__button {
    margin-left: 20px;
  }
  .nav__logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .nav__logo img {
    min-width: 72px;
    margin: 22px 20px;
  }
  .nav .menu_burger__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 7%;
    margin-right: 20px;
  }
  .nav .menu_burger__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .nav .menu_burger__list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .menu_burger__list ul li a {
    color: #686868;
    text-decoration: underline;
    font-size: 24px;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    background: bottom right/cover no-repeat url("../img/mobile_background_vector.svg"), center/cover no-repeat url("../img/mobile_header_background.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0.06%, rgba(255, 255, 255, 0.7)), color-stop(89.26%, #F8FBFC));
    background: bottom right/cover no-repeat url("../img/mobile_background_vector.svg"), center/cover no-repeat url("../img/mobile_header_background.png"), linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0.06%, #F8FBFC 89.26%);
  }
  .header__content {
    padding-top: 100px;
    max-width: 260px;
    margin: 0 auto;
  }
  .header__title {
    font-size: 40px;
    line-height: 120%;
  }
  .header__services {
    margin-top: 55px;
  }
  .header__services ul {
    margin-top: 7px;
    font-size: 16px;
    padding: 0;
    list-style: none;
  }
  .header__services li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 6px;
  }
  .header__services li::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #7E7E7E;
    margin-right: 12px;
    margin-top: 9px;
  }
  .header__button {
    text-align: center;
    margin-top: 50px;
  }
  .header__address {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__address img {
    width: 22px;
    margin-top: 5px;
    margin-right: 10px;
  }
  .header__address span:first-child {
    display: block;
    margin-bottom: 8px;
  }
  .header__contact {
    margin-top: 30px;
    padding-left: 32px;
  }
  .header__contact a {
    color: inherit;
    text-decoration: none;
  }
  .header__partner {
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #747474;
    text-align: right;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .header__partner figure {
    display: inline-block;
  }
  .header__partner img {
    display: inline;
  }
}

@media screen and (min-width: 1001px) {
  .header {
    background: bottom left/83% no-repeat url("../img/desktop_background_vector_1.svg"), bottom right/72% no-repeat url("../img/desktop_background_vector_2.svg"), bottom right/contain no-repeat url("../img/desktop_background_vector_3.svg");
    position: relative;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: center/cover no-repeat url("../img/desktop_header_background.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0.06%, rgba(255, 255, 255, 0.7)), color-stop(89.26%, #F8FBFC));
    background: center/cover no-repeat url("../img/desktop_header_background.png"), linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0.06%, #F8FBFC 89.26%);
    z-index: -2;
  }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__left {
    position: relative;
    width: 50%;
  }
  .header__left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    z-index: -1;
    border-bottom-right-radius: 50%;
  }
  .header__right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 77px;
  }
  .header__title {
    margin-top: 100px;
    font-size: 80px;
    line-height: 120%;
  }
  .header__services {
    margin-top: 55px;
    margin-bottom: 150px;
  }
  .header__services ul {
    margin-top: 7px;
    font-size: 22px;
    padding: 0;
    list-style: none;
  }
  .header__services li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 6px;
  }
  .header__services li::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #7E7E7E;
    margin-right: 12px;
    margin-top: 12px;
  }
  .header__address {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 22px;
  }
  .header__address img {
    width: 47px;
    height: 47px;
    margin-top: 5px;
    margin-right: 10px;
  }
  .header__address span:nth-child(2) {
    display: block;
    margin-bottom: 15px;
  }
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 100px;
  }
  .header__contact a {
    color: inherit;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .header__contact button {
    font-size: 22px;
  }
}

.bestsellers {
  background: -webkit-gradient(linear, left top, left bottom, from(#6688AE), to(#F8FBFC));
  background: linear-gradient(180deg, #6688AE 0%, #F8FBFC 100%);
}

@media screen and (max-width: 1000px) {
  .bestsellers .products__item {
    border-radius: 10px;
    aspect-ratio: 150 / 100;
  }
}

@media screen and (min-width: 1001px) {
  .bestsellers .products__content {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .bestsellers .products__item:nth-child(1) {
    aspect-ratio: unset;
    grid-column: auto / span 2;
  }
  .bestsellers .products__item:nth-child(6) {
    aspect-ratio: unset;
    grid-column: auto / span 2;
  }
}

.populars__content {
  display: -ms-grid;
  display: grid;
}

.populars__buttom {
  margin: 60px auto 0;
}

@media screen and (max-width: 1000px) {
  .populars__content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 9px;
  }
}

@media screen and (min-width: 1001px) {
  .populars__content {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
  }
}

.about__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .about__text {
    display: -ms-grid;
    display: grid;
    grid-gap: 30px;
  }
  .about__image {
    aspect-ratio: 3 / 1;
  }
  .about__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 16px 40px;
  }
  .about__button:first-child {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1001px) {
  .about__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
  }
  .about__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about__image {
    aspect-ratio: 1 / 1;
  }
  .about__buttons {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0 120px 60px;
  }
}

.technology__steps {
  display: -ms-grid;
  display: grid;
}

.technology__item {
  background-color: white;
  border-radius: 30px;
}

.technology__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.technology__item-title-image {
  margin-right: 20px;
}

@media screen and (max-width: 1000px) {
  .technology__steps {
    grid-gap: 20px;
  }
  .technology__item {
    padding: 20px;
  }
  .technology__item-title-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1001px) {
  .technology__steps {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }
  .technology__item {
    padding: 25px;
  }
  .technology__item-title-text {
    font-size: 22px;
  }
}

.delivery__content {
  display: -ms-grid;
  display: grid;
}

.delivery__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  .delivery__content {
    grid-gap: 20px;
  }
  .delivery__title {
    margin-bottom: 10px;
  }
  .delivery__title-icon {
    width: 45px;
    margin-right: 19px;
  }
  .delivery__text p {
    margin-bottom: 10px;
  }
  .delivery__button {
    margin: 60px auto 0;
  }
}

@media screen and (min-width: 1001px) {
  .delivery__content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .delivery__title {
    margin-bottom: 12px;
  }
  .delivery__title-icon {
    width: 32px;
    margin-right: 26px;
  }
  .delivery__text p {
    margin-bottom: 12px;
  }
  .delivery__button {
    margin: 100px auto 0;
  }
}

.contacts__content {
  display: -ms-grid;
  display: grid;
}

.contacts__title {
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .contacts__content {
    grid-gap: 40px;
  }
  .contacts__map {
    width: 100%;
    aspect-ratio: 2 / 1;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1001px) {
  .contacts__content {
        grid-template-areas: "phone email"  "office office" "manufact manufact";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
  }
  .contacts__phone {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: phone;
  }
  .contacts__email {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: email;
  }
  .contacts__office {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: office;
  }
  .contacts__manufact {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: manufact;
  }
  .contacts__office, .contacts__manufact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
  .contacts__map {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: calc(100% - 40px);
    aspect-ratio: 2 / 1;
  }
}

.message__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  max-width: 600px;
}

.message__form p {
  width: 100%;
}

.message__form input:not([type="submit"]) {
  width: 100%;
  border: 1px solid #BEBEBE;
  border-radius: 7px;
  padding: 10px 13px;
}

.message__form button {
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .message__form p {
    margin-bottom: 20px;
  }
  .message__form input {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1001px) {
  .message__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr;
        grid-template-columns: 1.5fr 1fr;
  }
  .message__form p {
    margin-bottom: 30px;
  }
  .message__form input {
    margin-bottom: 20px;
  }
  .message__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .message__logo img {
    width: 50%;
  }
}

.services__content {
  display: -ms-grid;
  display: grid;
}

.services__poster {
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.services__poster-title {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 20px;
  color: #5F5F5F;
}

@media screen and (max-width: 1000px) {
  .services__content {
    grid-gap: 40px;
  }
  .services__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }
  .services__poster-title {
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 16px;
  }
  .services__button {
    margin-top: 20px;
    border: 0;
    padding: 0;
  }
  .services__button:hover {
    border: 0;
  }
}

@media screen and (min-width: 1001px) {
  .services__content {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }
  .services__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    row-gap: 24px;
  }
  .services__poster-title {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 22px;
  }
  .services__text {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services__button {
    margin: 30px auto 0;
  }
}

.products__content {
  display: -ms-grid;
  display: grid;
}

.products__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 10px rgba(57, 114, 135, 0.08);
          box-shadow: 0px 6px 10px rgba(57, 114, 135, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.products__item-image {
  position: absolute;
  height: 100%;
  z-index: 1;
}

.products__item-title {
  z-index: 2;
  width: 100%;
  text-align: center;
  color: #5F5F5F;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 4px 4px rgba(102, 136, 174, 0.15);
          box-shadow: 0px 4px 4px rgba(102, 136, 174, 0.15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.products__buttom {
  margin: 60px auto 0;
}

@media screen and (max-width: 1000px) {
  .products__content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 9px;
    margin-top: 30px;
  }
  .products__item {
    border-radius: 10px;
    aspect-ratio: 1 / 1;
  }
  .products__item-image {
    border-radius: 10px;
  }
  .products__item-title {
    font-size: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 11px;
  }
}

@media screen and (min-width: 1001px) {
  .products__content {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 60px;
  }
  .products__item {
    border-radius: 20px;
    aspect-ratio: 1 / 1;
  }
  .products__item-image {
    border-radius: 20px;
  }
  .products__item-title {
    font-size: 22px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 18px;
  }
}

.onas__content {
  display: -ms-grid;
  display: grid;
}

.onas__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner__content {
  display: -ms-grid;
  display: grid;
}

@media screen and (max-width: 1000px) {
  .onas__content {
    display: -ms-grid;
    display: grid;
    row-gap: 30px;
  }
  .onas__logo img {
    width: 50%;
  }
  .onas__text {
    display: -ms-grid;
    display: grid;
    row-gap: 40px;
  }
  .onas__list {
    display: -ms-grid;
    display: grid;
    row-gap: 20px;
  }
  .onas__list-item-icon {
    font-size: 30px;
    width: 55px;
  }
  .onas__list-item-text {
    width: calc(100% - 55px);
  }
  .partner__content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media screen and (min-width: 1001px) {
  .onas__content {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .onas__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .onas__logo img {
    width: 60%;
  }
  .onas__text {
    display: -ms-grid;
    display: grid;
    row-gap: 60px;
  }
  .onas__list {
    display: -ms-grid;
    display: grid;
    row-gap: 30px;
  }
  .onas__list-item-icon {
    font-size: 48px;
    width: 90px;
  }
  .onas__list-item-text {
    width: calc(100% - 90px);
  }
  .partner__content {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .values__text-title {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1001px) {
  .values__text-title {
    margin-bottom: 24px;
  }
}

.equipments__list {
  display: -ms-grid;
  display: grid;
}

.equipments__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}

.equipments__title {
  text-transform: uppercase;
}

.equipments__url {
  color: #686868;
  text-decoration: none;
}

.equipments__url:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  .equipments__header {
    margin-bottom: 40px;
  }
  .equipments__list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 8px;
            column-gap: 8px;
    row-gap: 30px;
    margin-bottom: 60px;
  }
  .equipments__image {
    aspect-ratio: 17 / 13;
  }
  .equipments__title {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1001px) {
  .equipments__header {
    margin-bottom: 70px;
  }
  .equipments__list {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
  }
  .equipments__image {
    aspect-ratio: 36 / 28;
  }
  .equipments__title {
    margin-top: 40px;
    margin-bottom: 12px;
  }
}

.makets__title {
  display: block;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 10px rgba(57, 114, 135, 0.08);
          box-shadow: 0px 6px 10px rgba(57, 114, 135, 0.08);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.makets__title::after {
  content: "+";
  position: absolute;
}

.makets__info {
  display: none;
}

.makets input {
  display: none;
}

.makets input:checked + .makets__title::after {
  content: "-";
}

.makets input:checked ~ .makets__info {
  display: block;
}

@media screen and (max-width: 1000px) {
  .makets__title {
    padding: 16px 45px 16px 20px;
    margin-bottom: 20px;
  }
  .makets__title::after {
    top: calc(50% - 27px / 2);
    right: 20px;
  }
  .makets__info {
    padding: 16px 20px;
  }
}

@media screen and (min-width: 1001px) {
  .makets__title {
    padding: 28px 100px 28px 60px;
    margin-bottom: 40px;
  }
  .makets__title::after {
    top: calc(50% - 35px / 2);
    right: 60px;
  }
  .makets__info {
    padding: 28px 60px;
  }
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__url {
  color: #686868 !important;
}

@media screen and (max-width: 1000px) {
  .error {
    height: 300px;
  }
  .error__text, .error__url {
    display: block;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1001px) {
  .error {
    height: 500px;
  }
  .error__content {
    width: 100%;
    max-width: 400px;
  }
  .error__text, .error__url {
    display: block;
    margin-top: 30px;
  }
}

.footer {
  background: url("/assets/img/footer_background.png"), linear-gradient(90.88deg, #DEDEDE 0.07%, #6688AE 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.footer__menu {
  font-weight: bold;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.footer__item {
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .footer__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .footer__logo-img {
    height: 130px;
  }
  .footer__menu {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    grid-column: auto / span 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    font-size: 16px;
  }
  .footer__contact {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }
}

@media screen and (min-width: 1001px) {
  .footer__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.3fr 1fr;
        grid-template-columns: 1fr 1.3fr 1fr;
  }
  .footer__logo-img {
    height: 170px;
  }
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
  }
  .footer__contact {
    margin-left: auto;
    margin-right: 0;
    font-size: 22px;
  }
}
/*# sourceMappingURL=style.css.map */