@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Bold.eot");
  src: local("Futura PT Bold"), local("FuturaPT-Bold"), url("../fonts/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Heavy.eot");
  src: local("Futura PT Heavy"), local("FuturaPT-Heavy"), url("../fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Heavy.woff2") format("woff2"), url("../fonts/FuturaPT-Heavy.woff") format("woff"), url("../fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Medium.eot");
  src: local("Futura PT Medium"), local("FuturaPT-Medium"), url("../fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Light.eot");
  src: local("Futura PT Light"), local("FuturaPT-Light"), url("../fonts/FuturaPT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Light.woff2") format("woff2"), url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-BoldObl.eot");
  src: local("Futura PT Bold Oblique"), local("FuturaPT-BoldObl"), url("../fonts/FuturaPT-BoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-BoldObl.woff2") format("woff2"), url("../fonts/FuturaPT-BoldObl.woff") format("woff"), url("../fonts/FuturaPT-BoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-HeavyObl.eot");
  src: local("Futura PT Heavy Oblique"), local("FuturaPT-HeavyObl"), url("../fonts/FuturaPT-HeavyObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-HeavyObl.woff2") format("woff2"), url("../fonts/FuturaPT-HeavyObl.woff") format("woff"), url("../fonts/FuturaPT-HeavyObl.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-MediumObl.eot");
  src: local("Futura PT Medium Oblique"), local("FuturaPT-MediumObl"), url("../fonts/FuturaPT-MediumObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-MediumObl.woff2") format("woff2"), url("../fonts/FuturaPT-MediumObl.woff") format("woff"), url("../fonts/FuturaPT-MediumObl.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-LightObl.eot");
  src: local("Futura PT Light Oblique"), local("FuturaPT-LightObl"), url("../fonts/FuturaPT-LightObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-LightObl.woff2") format("woff2"), url("../fonts/FuturaPT-LightObl.woff") format("woff"), url("../fonts/FuturaPT-LightObl.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p,
figure,
figcaption,
blockquote,
dl, dt, dd,
ul, ol, li {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --button-font-size: 16px;
}

body {
  font-family: 'Futura PT', Tahoma, 'MS Sans Serif', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', Tahoma, 'MS Sans Serif', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  text-shadow: 0 1px 1px #686868, 1px 0 1px #686868, 0 -1px 1px #686868, -1px 0 1px #686868, 1px 1px 1px #686868, 1px -1px 1px #686868, -1px 1px 1px #686868, -1px -1px 1px #686868;
}

.btn {
  padding: 13px 35px;
  border-radius: 100vh;
  cursor: pointer;
  font-size: var(--button-font-size);
  text-transform: uppercase;
}

.btn.btn-outline {
  background-color: inherit;
  border: 2px solid #7E7E7E;
  padding: 11px 33px;
  color: rgba(95, 95, 95, 0.5);
}

.btn.btn-outline:hover {
  border: 2px solid #424242;
}

.btn.btn-fill {
  background-color: #6688AE;
  border: 0;
  color: white;
}

.btn.btn-fill:hover {
  background: #7EA8D8;
}

.btn:hover {
  -webkit-box-shadow: button_box_shadow;
          box-shadow: button_box_shadow;
}

.menu_burger label {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu_burger label div {
  position: relative;
  top: 0;
  height: 6px;
  background-color: black;
  margin-bottom: 6px;
  -webkit-transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
}

.menu_burger label div:first-child {
  -webkit-transform-origin: 0;
          transform-origin: 0;
}

.menu_burger label div:nth-child(2) {
  right: 0;
  width: 30px;
}

.menu_burger label div:last-child {
  margin-bottom: 0;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

.menu_burger #menu_burger_status {
  display: none;
}

.menu_burger #menu_burger_status:checked + label div:first-child {
  top: -3px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.menu_burger #menu_burger_status:checked + label div:nth-child(2) {
  width: 42.48px;
  top: 0;
  right: 6.50012px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.menu_burger #menu_burger_status:checked + label div:last-child {
  top: 3px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
/*# sourceMappingURL=style.css.map */