@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Bold.eot");
  src: local("Futura PT Bold"), local("FuturaPT-Bold"), url("../fonts/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Heavy.eot");
  src: local("Futura PT Heavy"), local("FuturaPT-Heavy"), url("../fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Heavy.woff2") format("woff2"), url("../fonts/FuturaPT-Heavy.woff") format("woff"), url("../fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Medium.eot");
  src: local("Futura PT Medium"), local("FuturaPT-Medium"), url("../fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Light.eot");
  src: local("Futura PT Light"), local("FuturaPT-Light"), url("../fonts/FuturaPT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Light.woff2") format("woff2"), url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-BoldObl.eot");
  src: local("Futura PT Bold Oblique"), local("FuturaPT-BoldObl"), url("../fonts/FuturaPT-BoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-BoldObl.woff2") format("woff2"), url("../fonts/FuturaPT-BoldObl.woff") format("woff"), url("../fonts/FuturaPT-BoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-HeavyObl.eot");
  src: local("Futura PT Heavy Oblique"), local("FuturaPT-HeavyObl"), url("../fonts/FuturaPT-HeavyObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-HeavyObl.woff2") format("woff2"), url("../fonts/FuturaPT-HeavyObl.woff") format("woff"), url("../fonts/FuturaPT-HeavyObl.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-MediumObl.eot");
  src: local("Futura PT Medium Oblique"), local("FuturaPT-MediumObl"), url("../fonts/FuturaPT-MediumObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-MediumObl.woff2") format("woff2"), url("../fonts/FuturaPT-MediumObl.woff") format("woff"), url("../fonts/FuturaPT-MediumObl.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-LightObl.eot");
  src: local("Futura PT Light Oblique"), local("FuturaPT-LightObl"), url("../fonts/FuturaPT-LightObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-LightObl.woff2") format("woff2"), url("../fonts/FuturaPT-LightObl.woff") format("woff"), url("../fonts/FuturaPT-LightObl.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p,
figure,
figcaption,
blockquote,
dl, dt, dd,
ul, ol, li {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

[role="list"] a {
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --header-font-size: 30px;
  --text-font-size: 14px;
  --text-line-height: 18px;
  --button-font-size: 16px;
}

@media screen and (min-width: 1001px) {
  :root {
    --header-font-size: 48px;
    --text-font-size: 18px;
    --text-line-height: 25px;
    --button-font-size: 16px;
  }
}

body {
  font-family: 'Futura PT', Tahoma, 'MS Sans Serif', Arial, Helvetica, sans-serif;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, .header-text {
  font-family: 'Montserrat', Tahoma, 'MS Sans Serif', Arial, Helvetica, sans-serif;
  font-size: var(--header-font-size);
  line-height: 120%;
  letter-spacing: 0.01em;
  font-weight: 500;
  color: white;
  text-shadow: 0 1px 1px #686868, 1px 0 1px #686868, 0 -1px 1px #686868, -1px 0 1px #686868, 1px 1px 1px #686868, 1px -1px 1px #686868, -1px 1px 1px #686868, -1px -1px 1px #686868;
}

.btn {
  padding: 13px 35px;
  border-radius: 100vh;
  cursor: pointer;
  font-size: var(--button-font-size);
  text-transform: uppercase;
}

.btn.btn-outline {
  background-color: inherit;
  border: 2px solid #7E7E7E;
  padding: 11px 33px;
  color: rgba(95, 95, 95, 0.5);
}

.btn.btn-outline:hover {
  border: 2px solid #424242;
}

.btn.btn-fill {
  background-color: #6688AE;
  border: 0;
  color: white;
}

.btn.btn-fill:hover {
  background: #7EA8D8;
}

.btn:hover {
  -webkit-box-shadow: button_box_shadow;
          box-shadow: button_box_shadow;
}

.menu_burger__icon {
  display: block;
  width: 30px;
  height: 22px;
  cursor: pointer;
}

.menu_burger__icon div {
  position: relative;
  top: 0;
  height: 4.4px;
  background-color: #6688AE;
  margin-bottom: 4.4px;
  -webkit-transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
}

.menu_burger__icon div:first-child {
  -webkit-transform-origin: 0;
          transform-origin: 0;
}

.menu_burger__icon div:nth-child(2) {
  right: 0;
}

.menu_burger__icon div:last-child {
  margin-bottom: 0;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

.menu_burger__list {
  display: none;
}

#menu_burger__status {
  display: none;
}

#menu_burger__status:checked + .menu_burger__content .menu_burger__icon {
  width: 22px;
}

#menu_burger__status:checked + .menu_burger__content .menu_burger__icon div:first-child {
  top: -2.2px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

#menu_burger__status:checked + .menu_burger__content .menu_burger__icon div:nth-child(2) {
  width: 31.152px;
  top: 0;
  right: 4.76675px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

#menu_burger__status:checked + .menu_burger__content .menu_burger__icon div:last-child {
  top: 2.2px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

#menu_burger__status:checked + .menu_burger__content .menu_burger__list {
  display: block;
}

@media screen and (max-width: 1000px) {
  header {
    min-width: 300px;
    height: 78px;
  }
  header .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -webkit-gradient(linear, left top, left bottom, from(#F8FBFC), to(#FFFFFF));
    background: linear-gradient(180deg, #F8FBFC 0%, #FFFFFF 100%);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 78px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  header .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 16px;
    min-width: 54px;
  }
  header .header__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
  }
  header .menu_burger__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .menu_burger__content .header__info-block {
    display: none;
  }
  header .menu_burger__content .menu_burger__icon {
    margin-right: 16px;
  }
  header .menu_burger__content .menu_burger__list {
    color: #686868;
    font-size: 20px;
    background-color: white;
  }
  header .menu_burger__content .menu_burger__list li {
    padding: 22px 40px;
    border-bottom: 1px solid #EAF3F5;
  }
  header .menu_burger__content .menu_burger__list li:last-child {
    display: none;
  }
  header .menu_burger__content .menu_burger__list .header__button {
    display: none;
  }
  header #menu_burger__status:checked ~ .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header #menu_burger__status:checked ~ .header__title {
    display: none;
  }
  header #menu_burger__status:checked + .menu_burger__content {
    position: absolute;
    top: 0;
    right: 0;
  }
  header #menu_burger__status:checked + .menu_burger__content .menu_burger__icon {
    margin-top: 28px;
  }
}

@media screen and (min-width: 1001px) {
  header {
    background: -webkit-gradient(linear, left top, left bottom, from(#F8FBFC), to(#FFFFFF));
    background: linear-gradient(180deg, #F8FBFC 0%, #FFFFFF 100%);
    -webkit-box-shadow: 0px 6px 10px rgba(57, 114, 135, 0.08);
            box-shadow: 0px 6px 10px rgba(57, 114, 135, 0.08);
  }
  header .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header__content .menu_burger__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 7%;
    margin-right: 20px;
  }
  header .header__content .menu_burger__content .menu_burger__icon {
    display: none;
  }
  header .header__content .menu_burger__content .header__info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    line-height: 130%;
  }
  header .header__content .menu_burger__content .header__info-block .header__partner {
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #747474;
  }
  header .header__content .menu_burger__content .header__info-block .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header__content .menu_burger__content .header__info-block .address img {
    margin-right: 12px;
  }
  header .header__content .menu_burger__content .header__info-block .contact a {
    display: block;
    color: black;
    text-decoration: none;
  }
  header .header__content .menu_burger__content .menu_burger__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  header .header__content .menu_burger__content .menu_burger__list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header__content .menu_burger__content .menu_burger__list ul li a {
    color: #686868;
    text-decoration: underline;
    font-size: 24px;
  }
  header .header__content .menu_burger__content .menu_burger__list .header__button {
    margin-left: 20px;
  }
  header .header__content .header__logo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  header .header__content .header__logo img {
    min-width: 72px;
    margin: 22px 20px;
  }
  header .header__content .header__title {
    display: none;
  }
}

body {
  background-color: brown;
}
/*# sourceMappingURL=style.css.map */